## Scraping skatingscores.com

The purpose of this notebook is to test and then sucesfully scrape https://skatingscores.com/. Practically, I could ask for the data, but because this is a learning project we will scrape assuming we couldn't get it.

In [1]:
#pip install lxml html5lib beautifulsoup4
import pandas as pd
import numpy as np

Top 50 Jumps in Senior Women International
- https://skatingscores.com/q/element/?show_ranks=on&underline=&season_codes=2022&division_codes=sr&event_codes=intl&discipline_codes=women&segment_type_codes=fs&unit_country_codes=all&unit_name=%25&element_type_codes=jump&element_code=%25&sort=score&limit=50&submit=Submit

#### Element Query

In [33]:
query_df, elements_df = pd.read_html('https://skatingscores.com/q/element/?show_ranks=on&underline=&season_codes=2022&division_codes=sr&event_codes=intl&discipline_codes=women&segment_type_codes=fs&unit_country_codes=all&unit_name=%25&element_type_codes=jump&element_code=%25&sort=score&limit=50&submit=Submit')
elements_df

,Unnamed: 0,#,Nat,Skater,Jump,TotalScore,BaseValue,GOETotal,MeanGOE Mark,+5s(or +3s),Season,Event,Seg
0,1,1,ðŸ‡·ðŸ‡º,Kamila Valieva,4T+1Eu+3S x,19.06,15.73,3.33,3.38,0 of 8,21/22,FINTRO,FS
1,2,2,ðŸ‡·ðŸ‡º,Kamila Valieva,4T+1Eu+3S x,18.72,15.73,2.99,3.11,0 of 9,21/22,GPCAN,FS
2,3,3,ðŸ‡·ðŸ‡º,Kamila Valieva,4T+3T,17.91,13.70,4.21,4.33,4 of 9,21/22,GPRUS,FS
3,4,4,ðŸ‡·ðŸ‡º,Kamila Valieva,4T+3T,17.50,13.70,3.80,3.88,1 of 8,21/22,FINTRO,FS
4,5,5,ðŸ‡·ðŸ‡º,Kamila Valieva,4T+3T,16.82,13.70,3.12,3.33,1 of 9,21/22,GPCAN,FS
5,6,6,ðŸ‡·ðŸ‡º,Maiia Khromykh,4T+3T,16.55,13.70,2.85,3.00,0 of 7,21/22,BUDTRO,FS
6,7,7,ðŸ‡·ðŸ‡º,Kamila Valieva,4T+1Eu+2S x,14.47,12.43,2.04,2.00,0 of 9,21/22,GPRUS,FS
7,8,8,ðŸ‡·ðŸ‡º,Anna Shcherbakova,3Lz+3Lo x,13.99,11.88,2.11,3.56,2 of 9,21/22,GPITA,FS
8,9,8,ðŸ‡·ðŸ‡º,Anna Shcherbakova,4F,13.99,11.00,2.99,2.78,0 of 9,21/22,GPITA,FS
9,10,10,ðŸ‡·ðŸ‡º,Alexandra Trusova,4Lz,13.80,11.50,2.30,2.11,0 of 9,21/22,GPUSA,FS
10,11,11,ðŸ‡°ðŸ‡·,Young You,3Lz+1Eu+3S x,13.79,11.77,2.02,3.56,1 of 9,21/22,GPUSA,FS
11,12,12,ðŸ‡·ðŸ‡º,Kamila Valieva,4S,13.58,9.70,3.88,4.11,1 of 9,21/22,GPRUS,FS
12,13,13,ðŸ‡°ðŸ‡·,Young You,3Lz+1Eu+3S x,13.54,11.77,1.77,3.20,0 of 5,21/22,CRNCUP,FS
13,14,14,ðŸ‡°ðŸ‡·,Young You,3Lz+1Eu+3S x,13.46,11.77,1.69,2.89,0 of 9,21/22,GPJPN,FS
14,15,15,ðŸ‡·ðŸ‡º,Maiia Khromykh,4T+2T,13.38,10.80,2.58,2.67,0 of 9,21/22,GPRUS,FS
15,16,16,ðŸ‡·ðŸ‡º,Maiia Khromykh,4T+2T,13.24,10.80,2.44,2.56,0 of 9,21/22,GPITA,FS
16,17,17,ðŸ‡·ðŸ‡º,Kamila Valieva,4S,13.03,9.70,3.33,3.56,1 of 9,21/22,GPCAN,FS
17,18,18,ðŸ‡·ðŸ‡º,Anna Shcherbakova,4F,12.89,11.00,1.89,1.67,0 of 9,21/22,GPFRA,FS
18,19,19,ðŸ‡·ðŸ‡º,Maiia Khromykh,3Lz+3T x,12.88,11.11,1.77,2.86,0 of 7,21/22,BUDTRO,FS
19,20,20,ðŸ‡·ðŸ‡º,Alexandra Trusova,3Lz+3T x,12.71,11.11,1.60,2.67,0 of 9,21/22,GPUSA,FS
20,21,21,ðŸ‡·ðŸ‡º,Alena Kostornaia,3F+1Eu+3S x,12.70,11.11,1.59,2.88,0 of 8,21/22,FINTRO,FS
21,22,21,ðŸ‡·ðŸ‡º,Daria Usacheva,3Lz!+1Eu+3S x,12.70,11.77,0.93,1.56,0 of 9,21/22,GPUSA,FS
22,23,21,ðŸ‡·ðŸ‡º,Ksenia Sinitsina,3Lz+1Eu+3S x,12.70,11.77,0.93,1.44,0 of 9,21/22,GPUSA,FS
23,24,24,ðŸ‡·ðŸ‡º,Maiia Khromykh,3Lz+3T x,12.63,11.11,1.52,2.67,0 of 9,21/22,GPITA,FS
24,25,25,ðŸ‡·ðŸ‡º,Anna Shcherbakova,3F+1Eu+3S x,12.62,11.11,1.51,2.78,0 of 9,21/22,GPITA,FS
25,26,26,ðŸ‡¯ðŸ‡µ,Rino Matsuike,3Lz+3T+2T,12.58,11.40,1.18,2.00,0 of 9,21/22,GPJPN,FS
26,27,27,ðŸ‡¯ðŸ‡µ,Kaori Sakamoto,3F+3T x,12.57,10.45,2.12,3.89,0 of 9,21/22,GPJPN,FS
27,28,28,ðŸ‡·ðŸ‡º,Alena Kostornaia,3F+1Eu+3S x,12.55,11.11,1.44,2.78,0 of 9,21/22,GPFRA,FS
28,29,28,ðŸ‡·ðŸ‡º,Maiia Khromykh,3F+1Eu+3S x,12.55,11.11,1.44,2.67,0 of 9,21/22,GPITA,FS
29,30,30,ðŸ‡¯ðŸ‡µ,Rino Matsuike,3Lz+3Tq+2T x,12.54,12.54,0.00,0.00,0 of 6,21/22,JPNOPN,FS
30,31,31,ðŸ‡·ðŸ‡º,Anna Shcherbakova,3Lz+3Lo x,12.47,11.88,0.59,0.89,0 of 9,21/22,GPFRA,FS
31,32,32,ðŸ‡§ðŸ‡¾,Viktoriia Safonova,3Lz+1Eu+3S x,12.44,11.77,0.67,1.11,0 of 9,21/22,GPRUS,FS
32,33,33,ðŸ‡·ðŸ‡º,Alena Kostornaia,3F+3T x,12.39,10.45,1.94,3.75,1 of 8,21/22,FINTRO,FS
33,34,34,ðŸ‡·ðŸ‡º,Alena Kostornaia,3F+3T x,12.34,10.45,1.89,3.56,1 of 9,21/22,GPCAN,FS
34,35,35,ðŸ‡·ðŸ‡º,Alexandra Trusova,4S,12.29,9.70,2.59,2.40,0 of 5,21/22,USCLA,FS
35,36,35,ðŸ‡·ðŸ‡º,Maiia Khromykh,3Lz+3T x,12.29,11.11,1.18,2.00,0 of 9,21/22,GPRUS,FS
36,37,37,ðŸ‡·ðŸ‡º,Maiia Khromykh,4T,12.21,9.50,2.71,2.89,0 of 9,21/22,GPITA,FS
37,38,38,ðŸ‡¯ðŸ‡µ,Wakaba Higuchi,3Lz+3Tq+2T x,12.20,12.54,-0.34,-0.44,0 of 9,21/22,GPFRA,FS
38,39,39,ðŸ‡¯ðŸ‡µ,Kaori Sakamoto,3F+3T x,12.19,10.45,1.74,3.33,1 of 9,21/22,GPUSA,FS
39,40,39,ðŸ‡·ðŸ‡º,Kamila Valieva,3F+3T x,12.19,10.45,1.74,3.33,0 of 9,21/22,GPRUS,FS
40,41,41,ðŸ‡·ðŸ‡º,Alexandra Trusova,3Lz+3T x,12.09,11.11,0.98,1.60,0 of 5,21/22,USCLA,FS
41,42,42,ðŸ‡§ðŸ‡ª,Loena Hendrickx,3Lz+3T,12.04,10.10,1.94,3.22,0 of 9,21/22,GPITA,FS
42,43,42,ðŸ‡·ðŸ‡º,Ksenia Sinitsina,3Lz+3T x,12.04,11.11,0.93,1.56,0 of 9,21/22,GPUSA,FS
43,44,44,ðŸ‡·ðŸ‡º,Alexandra Trusova,4Lz+1Eu+3S< x,12.00,16.98,-4.98,-4.00,0 of 5,21/22,USCLA,FS
44,45,45,ðŸ‡·ðŸ‡º,Maiia Khromykh,3F+1Eu+3S x,11.94,11.11,0.83,1.67,0 of 9,21/22,GPRUS,FS
45,46,46,ðŸ‡·ðŸ‡º,Anna Shcherbakova,3Lz+1Eu+3Sq x,11.89,11.77,0.12,0.14,0 of 7,21/22,BUDTRO,FS
46,47,47,ðŸ‡°ðŸ‡·,Yeonjeong Park,3Lz+3T,11.87,10.10,1.77,3.00,0 of 5,21/22,USCLA,FS
47,48,47,ðŸ‡¯ðŸ‡µ,Wakaba Higuchi,3Lz+3T,11.87,10.10,1.77,2.83,0 of 6,21/22,JPNOPN,FS
48,49,47,ðŸ‡µðŸ‡±,Ekaterina Kurakova,3Lz+1Eu+3F!,11.87,11.70,0.17,0.33,0 of 9,21/22,NEBTRO,FS
49,50,50,ðŸ‡·ðŸ‡º,Kamila Valieva,3F+3T x,11.81,10.45,1.36,2.67,0 of 9,21/22,GPCAN,FS

Better data of what I want
- each skater can be described by a set of 11 tables


https://skatingscores.com/2021/wc/sr/women/long/

Called the "Enhanced Protocol" according to skatingscores

In [31]:
dfs = pd.read_html('https://skatingscores.com/2021/wc/sr/women/long/')
len(dfs)

265

In [128]:
def clean_technical_score(data):
    """
    scores is the 3rd table
    todo: need to add skater name
    """

    df = data.dropna(axis = 1)
    df.columns = df.iloc[0,:] #use 1st row as column
    df = df.iloc[1:-1, :] # remove last row which contains column sums and the first row containing columns names

    elements = df['Element']
    df.drop(columns  = 'Element', inplace = True)

    for i in df.columns:
        df[i] = df[i].astype(float)

    df.insert(0, 'Element', elements)

    return df
technical_score = clean_technical_score(data = dfs[3])
technical_score

,Element,BaseValue,GOETotal,HKG ðŸ‡­ðŸ‡°,CZE ðŸ‡¨ðŸ‡¿,SWE ðŸ‡¸ðŸ‡ª,RUS ðŸ‡·ðŸ‡º,SLO ðŸ‡¸ðŸ‡®,SVK ðŸ‡¸ðŸ‡°,DEN ðŸ‡©ðŸ‡°,USA ðŸ‡ºðŸ‡¸,NED ðŸ‡³ðŸ‡±
1,4F!,11.00,1.57,3.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,2.0
2,4S,9.70,-4.71,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-4.0,-5.0,-4.0
3,4Lz+3T,15.70,3.78,4.0,3.0,3.0,4.0,4.0,3.0,3.0,3.0,3.0
4,2A,3.30,0.71,2.0,2.0,2.0,3.0,3.0,2.0,2.0,2.0,2.0
5,CCoSp4,3.50,0.55,1.0,2.0,0.0,1.0,2.0,1.0,2.0,2.0,2.0
6,ChSq111,3.00,1.14,2.0,3.0,2.0,2.0,3.0,2.0,3.0,2.0,1.0
7,4Lz<,10.12,-4.60,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0,-5.0
8,4T<<+1Eu+3Sq,9.90,-1.97,-4.0,-5.0,-5.0,-4.0,-3.0,-5.0,-4.0,-5.0,-5.0
9,3Lz+3T,11.11,1.52,3.0,3.0,2.0,3.0,3.0,2.0,1.0,2.0,3.0
10,FCSp4,3.20,0.73,2.0,3.0,2.0,3.0,2.0,2.0,2.0,2.0,3.0
11,StSq38,3.30,0.94,3.0,4.0,3.0,3.0,2.0,2.0,3.0,3.0,3.0
12,FCCoSp4,3.50,1.05,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,3.0

In [129]:

def clean_component_score(data):
    df = data
    df.columns = data.iloc[0,:]
    df = df.loc[:,~df.columns.duplicated()]
    df = df.iloc[1:-1, :-1]
    return df

component_score = clean_component_score(data = dfs[10])
component_score

,Component,Factor,HKG ðŸ‡­ðŸ‡°,CZE ðŸ‡¨ðŸ‡¿,SWE ðŸ‡¸ðŸ‡ª,RUS ðŸ‡·ðŸ‡º,SLO ðŸ‡¸ðŸ‡®,SVK ðŸ‡¸ðŸ‡°,DEN ðŸ‡©ðŸ‡°,USA ðŸ‡ºðŸ‡¸,NED ðŸ‡³ðŸ‡±
1,Skating Skills,1.60,2 9.00,3 8.75,9 8.25,2 8.75,8 8.25,6 8.50,1 9.25,3 8.75,6 8.50
2,Transitions,1.60,2 8.75,6 8.25,11 7.50,6 8.00,11 7.00,9 8.00,2 8.75,11 7.75,12 7.50
3,Performance,1.60,3 8.50,8 8.00,11 7.50,5 8.25,6 8.25,6 8.50,3 8.75,10 7.75,10 8.00
4,Composition,1.60,2 8.75,7 8.50,12 7.75,3 8.50,6 8.25,6 8.50,2 8.75,11 8.00,5 8.50
5,Interpretation,1.60,2 8.50,9 8.25,12 7.50,3 8.50,9 8.00,6 8.50,1 9.00,12 7.75,6 8.25

In [135]:

def get_skater_bio(data):
    name = data[1][0]
    country = data[2][0]
    return name, country

get_skater_bio(dfs[1])

('Alexandra TRUSOVA', 'RUS')

In [ ]:
class scrapePrograms():

In [134]:
for i in np.arange(11):
    print(i)
    display(dfs[i].head(), dfs[i].shape)

0

                0   1   2   3
0  Â« Prior Season  SP  FS NaN

(1, 4)

1

   0                  1    2      3      4       5
0  1  Alexandra TRUSOVA  RUS  Start    Ded   Total
1  1  Alexandra TRUSOVA  RUS     13  -2.00  152.38

(2, 6)

2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,â†» Rescore,â†» Rescore,â†» Rescore,â†» Rescore,â†» Rescore,â†» Rescore,HKG ðŸ‡­ðŸ‡°,CZE ðŸ‡¨ðŸ‡¿,SWE ðŸ‡¸ðŸ‡ª,RUS ðŸ‡·ðŸ‡º,SLO ðŸ‡¸ðŸ‡®,SVK ðŸ‡¸ðŸ‡°,DEN ðŸ‡©ðŸ‡°,USA ðŸ‡ºðŸ‡¸,NED ðŸ‡³ðŸ‡±,NaN
1,NaN,Judge TSS Tally (+ Ded),Judge TSS Tally (+ Ded),Judge TSS Tally (+ Ded),Judge TSS Tally (+ Ded),Judge TSS Tally (+ Ded),1 158.12,1 153.04,2 146.50,2 154.17,1 152.30,2 151.02,1 156.66,2 148.50,2 152.18,NaN

(2, 16)

3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,Element,NaN,BaseValue,NaN,GOETotal,HKG ðŸ‡­ðŸ‡°,CZE ðŸ‡¨ðŸ‡¿,SWE ðŸ‡¸ðŸ‡ª,RUS ðŸ‡·ðŸ‡º,SLO ðŸ‡¸ðŸ‡®,SVK ðŸ‡¸ðŸ‡°,DEN ðŸ‡©ðŸ‡°,USA ðŸ‡ºðŸ‡¸,NED ðŸ‡³ðŸ‡±,Score
1,1.,4F!,!,11.00,NaN,1.57,3,1,2,1,2,1,1,1,2,12.57
2,2.,4S,NaN,9.70,NaN,-4.71,-5,-5,-5,-5,-5,-5,-4,-5,-4,4.99
3,3.,4Lz+3T,NaN,15.70,NaN,3.78,4,3,3,4,4,3,3,3,3,19.48
4,4.,2A,NaN,3.30,NaN,0.71,2,2,2,3,3,2,2,2,2,4.01

(14, 16)

4

,0,1,2,3,4
0,BV187.33,GOE180.71,Jumps167.13,Spins512.53,Technical Element Score1 88.04
1,BV,187.33,NaN,NaN,NaN
2,GOE,180.71,NaN,NaN,NaN
3,Jumps,167.13,NaN,NaN,NaN
4,Spins,512.53,NaN,NaN,NaN

(6, 5)

5

    0       1
0  BV  187.33

(1, 2)

6

     0       1
0  GOE  180.71

(1, 2)

7

       0       1
0  Jumps  167.13

(1, 2)

8

       0       1
0  Spins  512.53

(1, 2)

9

                         0        1
0  Technical Element Score  1 88.04

(1, 2)

10

,Component,Component,Component,Factor,Factor,Factor,HKG ðŸ‡­ðŸ‡°,CZE ðŸ‡¨ðŸ‡¿,SWE ðŸ‡¸ðŸ‡ª,RUS ðŸ‡·ðŸ‡º,SLO ðŸ‡¸ðŸ‡®,SVK ðŸ‡¸ðŸ‡°,DEN ðŸ‡©ðŸ‡°,USA ðŸ‡ºðŸ‡¸,NED ðŸ‡³ðŸ‡±,Score
0,Component,Component,Component,Factor,Factor,Factor,HKG ðŸ‡­ðŸ‡°,CZE ðŸ‡¨ðŸ‡¿,SWE ðŸ‡¸ðŸ‡ª,RUS ðŸ‡·ðŸ‡º,SLO ðŸ‡¸ðŸ‡®,SVK ðŸ‡¸ðŸ‡°,DEN ðŸ‡©ðŸ‡°,USA ðŸ‡ºðŸ‡¸,NED ðŸ‡³ðŸ‡±,Score
1,Skating Skills,Skating Skills,Skating Skills,1.60,1.60,1.60,2 9.00,3 8.75,9 8.25,2 8.75,8 8.25,6 8.50,1 9.25,3 8.75,6 8.50,58.64
2,Transitions,Transitions,Transitions,1.60,1.60,1.60,2 8.75,6 8.25,11 7.50,6 8.00,11 7.00,9 8.00,2 8.75,11 7.75,12 7.50,97.96
3,Performance,Performance,Performance,1.60,1.60,1.60,3 8.50,8 8.00,11 7.50,5 8.25,6 8.25,6 8.50,3 8.75,10 7.75,10 8.00,88.18
4,Composition,Composition,Composition,1.60,1.60,1.60,2 8.75,7 8.50,12 7.75,3 8.50,6 8.25,6 8.50,2 8.75,11 8.00,5 8.50,78.43

(7, 16)