## Scraping skatingscores.com

The purpose of this notebook is to test and then sucesfully scrape https://skatingscores.com/. Practically, I could ask for the data, but because this is a learning project we will scrape assuming we couldn't get it.

In [1]:
from scrapeEnhancedProtocol import *
from scrapeEventsPage import *

todo

data cleaning
- element needs to be cleaned up because it contains annotations (ex: Elemeent = 3Aq which denotes a triple axel, but something is wrong with it)

In [6]:
season_2122 = scrapeEvents(url = 'https://skatingscores.com/2122/')
season_2122.scrape()
events_2122 = season_2122.events

In [7]:
def main(event_name, website):
    event = scrapeEvent(event_name = event_name, website = website)
    event.get_component_score()
    ALL_COMPONENTS.append(event.all_components)
    event.get_technical_score()
    ALL_TECHNICAL.append(event.all_technical)
    ALL_SKATER.append(event.all_skaters)

In [16]:
DIVISION = ['sr']
SEX = ['women', 'men']
PROGRAM = ['long', 'short']
ending = 'sr/women/long/'


ALL_COMPONENTS = []
ALL_TECHNICAL = []
ALL_SKATER = []
for index, row in events_2122[0:10][['Event_Abbreviation','URL']].iterrows():
    for s in SEX:
        for p in PROGRAM:
            ending = f'sr/{s}/{p}'
            try:
                
                main(event_name = row['Event_Abbreviation'],website = row['URL'] + ending)
                time.sleep(0.33) # be nice to the generous server admins!
            
            except Exception as e:

                #errors can occur because event got cancelled (from the panini) or event may be juniors only (out of scope)
                print(row['Event_Abbreviation'], f"{s}, {p} not scrapable")
                pass

HTTP Error 404: Not Found LPIDI https://skatingscores.com/2122/lpidi/
HTTP Error 404: Not Found LPIDI https://skatingscores.com/2122/lpidi/
HTTP Error 404: Not Found LPIDI https://skatingscores.com/2122/lpidi/
HTTP Error 404: Not Found LPIDI https://skatingscores.com/2122/lpidi/
HTTP Error 404: Not Found JGPFRA https://skatingscores.com/2122/jgpfra/
HTTP Error 404: Not Found JGPFRA https://skatingscores.com/2122/jgpfra/
HTTP Error 404: Not Found JGPFRA https://skatingscores.com/2122/jgpfra/
HTTP Error 404: Not Found JGPFRA https://skatingscores.com/2122/jgpfra/
HTTP Error 404: Not Found JGPFRA2 https://skatingscores.com/2122/jgpfra2/
HTTP Error 404: Not Found JGPFRA2 https://skatingscores.com/2122/jgpfra2/
HTTP Error 404: Not Found JGPFRA2 https://skatingscores.com/2122/jgpfra2/
HTTP Error 404: Not Found JGPFRA2 https://skatingscores.com/2122/jgpfra2/
HTTP Error 404: Not Found JGPSVK https://skatingscores.com/2122/jgpsvk/
HTTP Error 404: Not Found JGPSVK https://skatingscores.com/2122/jgpsvk/
HTTP Error 404: Not Found JGPSVK https://skatingscores.com/2122/jgpsvk/
HTTP Error 404: Not Found JGPSVK https://skatingscores.com/2122/jgpsvk/
HTTP Error 404: Not Found JNPCHA https://skatingscores.com/2122/jnpcha/
HTTP Error 404: Not Found JNPCHA https://skatingscores.com/2122/jnpcha/
HTTP Error 404: Not Found JNPCHA https://skatingscores.com/2122/jnpcha/
HTTP Error 404: Not Found JNPCHA https://skatingscores.com/2122/jnpcha/
HTTP Error 404: Not Found JGPRUS https://skatingscores.com/2122/jgprus/
HTTP Error 404: Not Found JGPRUS https://skatingscores.com/2122/jgprus/
HTTP Error 404: Not Found JGPRUS https://skatingscores.com/2122/jgprus/
HTTP Error 404: Not Found JGPRUS https://skatingscores.com/2122/jgprus/

In [10]:
components = pd.concat(ALL_COMPONENTS, axis = 0)
#components.to_csv('../data/skatingScores/components.csv')

In [18]:
technicals = pd.concat(ALL_TECHNICAL, axis = 0)
# technicals.to_csv('../data/skatingScores/technicals.csv')

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [35]:
len(ALL_TECHNICAL)
sample = ALL_TECHNICAL[0]

In [42]:
include = ['Name', 'Country', 'Element', 'BaseValue', 'GOETotal', 'Event']

columns_to_fix = []
for i in sample.columns:
    if i in include:
        pass
    else:
        columns_to_fix.append(i)

columns_to_fix

['J1 ðŸ‡²ðŸ‡½', 'J2 ðŸ‡¹ðŸ‡·', 'J3 ðŸ‡¨ðŸ‡¦', 'J4 ðŸ‡ºðŸ‡¸', 'J5 ðŸ‡¸ðŸ‡ª']

3 things to fix

- J1emoji, J2emoji, needs to become a deep table

    - J1emoji => [Score, Country] per each jump


- COUNTRY1emoji, COUNTRY2emoji also needs to become a deep table

    - COUNTRY1emoji => [Score, Country] per each jump

In [25]:
 for i in np.arange(len(ALL_TECHNICAL)):
    display(ALL_TECHNICAL[i].head())

,Name,Country,Element,BaseValue,GOETotal,J1 ðŸ‡²ðŸ‡½,J2 ðŸ‡¹ðŸ‡·,J3 ðŸ‡¨ðŸ‡¦,J4 ðŸ‡ºðŸ‡¸,J5 ðŸ‡¸ðŸ‡ª,Event
0,Alysa LIU,USA,3A<<,3.3,-1.65,-5.0,-5.0,-5.0,-5.0,-5.0,CRNCUP
1,Alysa LIU,USA,3Lz,5.9,1.18,1.0,2.0,2.0,2.0,2.0,CRNCUP
2,Alysa LIU,USA,3Lo,4.9,0.82,1.0,2.0,2.0,1.0,3.0,CRNCUP
3,Alysa LIU,USA,2A+1Eu+3S,8.1,0.86,2.0,2.0,2.0,1.0,3.0,CRNCUP
4,Alysa LIU,USA,FCCoSp4,3.5,0.93,2.0,2.0,4.0,3.0,3.0,CRNCUP

,Name,Country,Element,BaseValue,GOETotal,J1 ðŸ‡²ðŸ‡½,J2 ðŸ‡¹ðŸ‡·,J3 ðŸ‡¨ðŸ‡¦,J4 ðŸ‡ºðŸ‡¸,J5 ðŸ‡¸ðŸ‡ª,Event
0,Alysa LIU,USA,2A7,3.30,0.66,2,2,2,3,2,CRNCUP
1,Alysa LIU,USA,3F2,5.30,1.59,3,2,3,3,3,CRNCUP
2,Alysa LIU,USA,FCSp41,3.20,1.07,3,3,4,4,3,CRNCUP
3,Alysa LIU,USA,3Lz+3T1,11.11,0.98,2,2,1,1,2,CRNCUP
4,Alysa LIU,USA,CCoSp43,3.50,0.93,3,2,3,1,3,CRNCUP

,Name,Country,Element,BaseValue,GOETotal,J1 ðŸ‡¨ðŸ‡¦,J2 ðŸ‡³ðŸ‡±,J3 ðŸ‡²ðŸ‡½,J4 ðŸ‡¹ðŸ‡·,J5 ðŸ‡ºðŸ‡¸,Event
0,Vincent ZHOU,USA,4Lz,11.5,-0.77,-1,-1,2,-1,0,CRNCUP
1,Vincent ZHOU,USA,4F,11.0,2.93,3,1,2,3,3,CRNCUP
2,Vincent ZHOU,USA,4S,9.7,1.94,2,1,2,2,3,CRNCUP
3,Vincent ZHOU,USA,4T,9.5,1.90,2,1,2,2,2,CRNCUP
4,Vincent ZHOU,USA,ChSq13,3.0,1.17,3,2,1,2,3,CRNCUP

,Name,Country,Element,BaseValue,GOETotal,J1 ðŸ‡¨ðŸ‡¦,J2 ðŸ‡³ðŸ‡±,J3 ðŸ‡²ðŸ‡½,J4 ðŸ‡¹ðŸ‡·,J5 ðŸ‡ºðŸ‡¸,Event
0,Vincent ZHOU,USA,4Lz+3T1,15.7,3.07,4,2,2,3,3,CRNCUP
1,Vincent ZHOU,USA,4S1,9.7,2.91,4,3,3,3,3,CRNCUP
2,Vincent ZHOU,USA,FCSp41,3.2,0.75,3,2,1,2,3,CRNCUP
3,Vincent ZHOU,USA,3A1,8.8,2.93,5,3,3,4,4,CRNCUP
4,Vincent ZHOU,USA,CSSp41,3.0,0.90,3,3,3,3,3,CRNCUP

,Name,Country,Element,BaseValue,GOETotal,AUT ðŸ‡¦ðŸ‡¹,FRA ðŸ‡«ðŸ‡·,GER ðŸ‡©ðŸ‡ª,HUN ðŸ‡­ðŸ‡º,ITA ðŸ‡®ðŸ‡¹,NED ðŸ‡³ðŸ‡±,USA ðŸ‡ºðŸ‡¸,Event
0,Alysa LIU,USA,3A<,6.4,-0.77,-2,-1,-1,-1,-1,-1,-2,LOMTRO
1,Alysa LIU,USA,3Lz,5.9,1.18,2,2,2,2,2,3,2,LOMTRO
2,Alysa LIU,USA,3Lo,4.9,1.18,2,2,2,2,3,3,3,LOMTRO
3,Alysa LIU,USA,2A+1Eu+3S,8.1,1.12,2,2,2,3,3,3,3,LOMTRO
4,Alysa LIU,USA,FCCoSp4,3.5,1.05,3,2,2,4,4,3,3,LOMTRO

,Name,Country,Element,BaseValue,GOETotal,AUT ðŸ‡¦ðŸ‡¹,FRA ðŸ‡«ðŸ‡·,GER ðŸ‡©ðŸ‡ª,HUN ðŸ‡­ðŸ‡º,ITA ðŸ‡®ðŸ‡¹,NED ðŸ‡³ðŸ‡±,USA ðŸ‡ºðŸ‡¸,Event
0,Alysa LIU,USA,2A1,3.30,1.06,3,3,2,3,3,4,4,LOMTRO
1,Alysa LIU,USA,3F2,5.30,1.38,3,2,2,2,3,4,3,LOMTRO
2,Alysa LIU,USA,FCSp41,3.20,0.90,2,3,2,3,3,3,3,LOMTRO
3,Alysa LIU,USA,3Lz+3T1,11.11,1.53,2,2,2,3,3,3,3,LOMTRO
4,Alysa LIU,USA,CCoSp41,3.50,1.26,3,3,2,4,4,4,4,LOMTRO

,Name,Country,Element,BaseValue,GOETotal,AUT ðŸ‡¦ðŸ‡¹,AZE ðŸ‡¦ðŸ‡¿,CZE ðŸ‡¨ðŸ‡¿,FRA ðŸ‡«ðŸ‡·,GER ðŸ‡©ðŸ‡ª,ITA ðŸ‡®ðŸ‡¹,USA ðŸ‡ºðŸ‡¸,Event
0,Daniel GRASSL,ITA,4Lz,11.5,1.61,1,1,1,2,3,1,2,LOMTRO
1,Daniel GRASSL,ITA,4Fq,11.0,-1.10,-1,-1,-1,-1,-1,0,-1,LOMTRO
2,Daniel GRASSL,ITA,4Loq,10.5,-1.26,-2,-1,-1,0,-1,-1,-2,LOMTRO
3,Daniel GRASSL,ITA,3A+1Eu+3S,12.8,1.12,0,1,1,2,2,1,2,LOMTRO
4,Daniel GRASSL,ITA,CSSp4,3.0,0.42,2,2,1,1,1,1,2,LOMTRO

,Name,Country,Element,BaseValue,GOETotal,AUT ðŸ‡¦ðŸ‡¹,AZE ðŸ‡¦ðŸ‡¿,CZE ðŸ‡¨ðŸ‡¿,FRA ðŸ‡«ðŸ‡·,GER ðŸ‡©ðŸ‡ª,ITA ðŸ‡®ðŸ‡¹,USA ðŸ‡ºðŸ‡¸,Event
0,Vladimir LITVINTSEV,AZE,4T1,9.50,2.09,2,2,2,3,3,2,2,LOMTRO
1,Vladimir LITVINTSEV,AZE,3A5,8.00,-0.96,-1,-1,-1,-1,-1,-2,-2,LOMTRO
2,Vladimir LITVINTSEV,AZE,FCSp42,3.20,0.51,1,2,1,2,2,2,0,LOMTRO
3,Vladimir LITVINTSEV,AZE,3F+3T5,10.45,0.85,2,2,1,2,2,1,1,LOMTRO
4,Vladimir LITVINTSEV,AZE,CSSp43,3.00,0.60,2,2,2,2,2,2,2,LOMTRO

,Name,Country,Element,BaseValue,GOETotal,J1 ðŸ‡¨ðŸ‡¦,J2 ðŸ‡¨ðŸ‡¦,J3 ðŸ‡ºðŸ‡¸,J4 ðŸ‡²ðŸ‡½,J5 ðŸ‡·ðŸ‡º,Event
0,Alexandra TRUSOVA,RUS,4F,11.0,-5.50,-5,-5,-5,-5,-5,USCLA
1,Alexandra TRUSOVA,RUS,4S,9.7,2.59,2,3,1,3,3,USCLA
2,Alexandra TRUSOVA,RUS,2A+3T,7.5,1.12,3,2,3,2,3,USCLA
3,Alexandra TRUSOVA,RUS,2T,1.3,-0.04,0,-1,-1,0,0,USCLA
4,Alexandra TRUSOVA,RUS,CCoSp4,3.5,0.82,2,1,3,2,3,USCLA

,Name,Country,Element,BaseValue,GOETotal,J1 ðŸ‡¨ðŸ‡¦,J2 ðŸ‡¨ðŸ‡¦,J3 ðŸ‡ºðŸ‡¸,J4 ðŸ‡²ðŸ‡½,J5 ðŸ‡·ðŸ‡º,Event
0,Alexandra TRUSOVA,RUS,3A5,8.00,-4.00,-5,-4,-5,-5,-5,USCLA
1,Alexandra TRUSOVA,RUS,3F3,5.30,1.77,3,3,4,4,3,USCLA
2,Alexandra TRUSOVA,RUS,CCoSp43,3.50,1.05,3,3,3,3,4,USCLA
3,Alexandra TRUSOVA,RUS,3Lz+3T1,11.11,1.97,3,3,4,4,3,USCLA
4,Alexandra TRUSOVA,RUS,FCSp42,3.20,0.96,3,3,3,3,3,USCLA

,Name,Country,Element,BaseValue,GOETotal,J1 ðŸ‡ºðŸ‡¸,J2 ðŸ‡²ðŸ‡½,J3 ðŸ‡¹ðŸ‡·,J4 ðŸ‡¨ðŸ‡¦,J5 ðŸ‡ºðŸ‡¸,Event
0,Michal BÅ˜EZINA,CZE,4S,9.7,2.59,3,3,2,2,3,USCLA
1,Michal BÅ˜EZINA,CZE,3A,8.0,2.40,3,3,3,3,3,USCLA
2,Michal BÅ˜EZINA,CZE,3Lz,5.9,1.57,3,2,3,2,3,USCLA
3,Michal BÅ˜EZINA,CZE,FSSp4,3.0,0.70,2,4,2,3,2,USCLA
4,Michal BÅ˜EZINA,CZE,3F+2T,6.6,1.06,2,2,3,2,2,USCLA

,Name,Country,Element,BaseValue,GOETotal,J1 ðŸ‡ºðŸ‡¸,J2 ðŸ‡²ðŸ‡½,J3 ðŸ‡¹ðŸ‡·,J4 ðŸ‡¨ðŸ‡¦,J5 ðŸ‡ºðŸ‡¸,Event
0,Michal BÅ˜EZINA,CZE,4S1,9.7,2.26,2,3,3,2,2,USCLA
1,Michal BÅ˜EZINA,CZE,3F+2T9,6.6,0.71,0,1,2,1,2,USCLA
2,Michal BÅ˜EZINA,CZE,3A1,8.8,1.60,3,2,2,2,2,USCLA
3,Michal BÅ˜EZINA,CZE,FSSp44,3.0,0.60,1,3,2,2,2,USCLA
4,Michal BÅ˜EZINA,CZE,StSq41,3.9,1.17,3,4,2,3,3,USCLA

,Name,Country,Element,BaseValue,GOETotal,GER ðŸ‡©ðŸ‡ª,USA ðŸ‡ºðŸ‡¸,CAN ðŸ‡¨ðŸ‡¦,FIN ðŸ‡«ðŸ‡®,NED ðŸ‡³ðŸ‡±,ISL ðŸ‡®ðŸ‡¸,SWE ðŸ‡¸ðŸ‡ª,Event
0,Young YOU,KOR,3A<,6.4,-2.43,-3.0,-4.0,-4.0,-3.0,-4.0,-4.0,-4.0,ATMCLA
1,Young YOU,KOR,3A<<+2T,4.6,-1.12,-4.0,-3.0,-3.0,-3.0,-4.0,-4.0,-3.0,ATMCLA
2,Young YOU,KOR,3Lo,4.9,0.69,0.0,2.0,1.0,1.0,2.0,1.0,2.0,ATMCLA
3,Young YOU,KOR,3S,4.3,0.60,0.0,2.0,0.0,1.0,2.0,2.0,2.0,ATMCLA
4,Young YOU,KOR,StSq41,3.9,0.94,2.0,3.0,2.0,3.0,2.0,3.0,2.0,ATMCLA

,Name,Country,Element,BaseValue,GOETotal,GER ðŸ‡©ðŸ‡ª,USA ðŸ‡ºðŸ‡¸,CAN ðŸ‡¨ðŸ‡¦,FIN ðŸ‡«ðŸ‡®,NED ðŸ‡³ðŸ‡±,ISL ðŸ‡®ðŸ‡¸,SWE ðŸ‡¸ðŸ‡ª,Event
0,Marilena KITROMILIS,CYP,2A2,3.3,0.86,2.0,3.0,3.0,2.0,3.0,2.0,3.0,ATMCLA
1,Marilena KITROMILIS,CYP,3Lz+3T1,10.1,1.18,2.0,2.0,1.0,2.0,2.0,2.0,2.0,ATMCLA
2,Marilena KITROMILIS,CYP,LSp41,2.7,0.65,2.0,2.0,3.0,3.0,3.0,2.0,2.0,ATMCLA
3,Marilena KITROMILIS,CYP,3F1,5.3,1.06,2.0,2.0,2.0,2.0,2.0,3.0,2.0,ATMCLA
4,Marilena KITROMILIS,CYP,FSSp311,2.6,0.21,1.0,1.0,1.0,1.0,1.0,0.0,0.0,ATMCLA

,Name,Country,Element,BaseValue,GOETotal,ESP ðŸ‡ªðŸ‡¸,ISL ðŸ‡®ðŸ‡¸,ESP ðŸ‡ªðŸ‡¸,NED ðŸ‡³ðŸ‡±,USA ðŸ‡ºðŸ‡¸,SWE ðŸ‡¸ðŸ‡ª,FIN ðŸ‡«ðŸ‡®,Event
0,Conrad ORZEL,CAN,4T,9.5,-1.43,-2.0,-1.0,-1.0,0.0,-,-2.0,-2.0,ATMCLA
1,Conrad ORZEL,CAN,4S,9.7,-0.73,-1.0,-1.0,0.0,0.0,-,-1.0,-1.0,ATMCLA
2,Conrad ORZEL,CAN,3T+3T,8.4,0.53,1.0,1.0,2.0,2.0,-,0.0,1.0,ATMCLA
3,Conrad ORZEL,CAN,3F,5.3,0.53,2.0,1.0,2.0,1.0,-,0.0,0.0,ATMCLA
4,Conrad ORZEL,CAN,FCSp3,2.8,-0.21,-2.0,-1.0,0.0,-1.0,-,0.0,-1.0,ATMCLA

,Name,Country,Element,BaseValue,GOETotal,ESP ðŸ‡ªðŸ‡¸,ISL ðŸ‡®ðŸ‡¸,CAN ðŸ‡¨ðŸ‡¦,NED ðŸ‡³ðŸ‡±,USA ðŸ‡ºðŸ‡¸,SWE ðŸ‡¸ðŸ‡ª,FIN ðŸ‡«ðŸ‡®,Event
0,Conrad ORZEL,CAN,4Sq1,9.7,-0.49,-1,0,-1,0,-,-1,0,ATMCLA
1,Conrad ORZEL,CAN,4T+3T1,13.7,1.66,2,1,2,2,-,1,2,ATMCLA
2,Conrad ORZEL,CAN,FCSp32,2.8,0.07,1,0,2,0,-,0,0,ATMCLA
3,Conrad ORZEL,CAN,3Aq1,8.8,-1.00,-2,0,0,-1,-,-2,-2,ATMCLA
4,Conrad ORZEL,CAN,CSSp41,3.0,0.23,0,-2,3,2,-,1,0,ATMCLA

In [ ]:
# skaters = pd.concat(ALL_SKATER, axis = 0)
# skaters.to_csv('../data/skatingScores/skaters.csv')